---
layout: default
title: Home
---
<h2>新着情報</h2>
<ul data-role="listview">
  {% for post in site.posts %}
    <li><a href="{{ post.url }}"><span>{{ post.date | date_to_string }}</span> &raquo; {{ post.title }}</a></li>
    {% endfor %}
</ul>

<h2>関連リンク</h2>
<ul data-role="listview">
{% for link in site.data.links %}
  <li><a href="{{ link.url }}" rel="external" data-role="button"{% if link.icon %} data-icon="{{ link.icon }}" data-iconpos="left"{% endif %}">{{ link.title }}</a></li>
{% endfor %}
</ul>
