---
layout: default
title: DICOMO2014 Members
---
<div id="home">
<dl>
{% for member in site.data.members %}
<dt id="{{ member.id }}">{{ member.name }}<small>({{ member.id }})</small></dt>
<dd><ul>
{% if member.org %}
  <li><i class="icon-user"></i>所属: {{ member.org }}</li>
{% endif %}
{% if member.twitter %}
  <li><i class="icon-share-alt"></i>Twitter: <a href="http://twitter.com/{{ member.twitter }}">@{{ member.twitter }}</a></li>
{% endif %}
{% if member.url %}
  <li><i class="icon-home"></i><a href="{{ member.url }}">{{ member.url }}</a></li>
{% endif %}
</ul></dd>
{% endfor %}
</dl>
</div>
