---
layout: default
title: People
---
<!-- index page -->
<div data-role="page" id="people">
<div data-role="header">
    <a data-rel="back" data-icon="back" class="ui-btn-left">Back</a>
<h1>People</h1>
{% include navbar.html %}
</div>
<form>
  <input type="text" data-type="search" id="filterable-input" />
</form>
<ul data-role="listview" data-filter="true" data-input="#filterable-input">
{% for member in site.categories.people %}
  <li><a data-icon="arrow-r" data-iconpos="right" data-transition="slide" href="{{ member.url }}" id="list-{{ member.num }}">{% if member.emailhash %}<img class="ui-li-icon" src="http://www.gravatar.com/avatar/{{ member.emailhash }}?s=32&d=retro"/>{% endif %}{{ member.title }}<span class="favstar" id="star-{{member.num}}"></span><span class="ui-li-count">{{ member.num }}</span></a></li>
{% endfor %}
</ul>
  <div data-role="footer">
    <div class="contact">
      &copy; <a href="mailto:{{ site.author.email }}" data-icon="mail">
      {{ site.author.name }}</a>
    </div>
  </div> <!-- footer -->
<script>
$("#people").on("pagecreate", function() {
  $(".favstar").html("");
  if (window.localStorage && window.localStorage.getItem("favpeople")) {
    var favj = JSON.parse(window.localStorage.getItem("favpeople"));
    for (var i in favj) {
      $("#star-" + i).html("{{site.favorite.star}}");
    }
  }
});
</script>
</div><!-- page -->
