---
layout: page
title: People
pageid: people
---
<form>
  <input type="text" data-type="search" id="filterable-input" />
</form>
<ul data-role="listview" data-filter="true" data-input="#filterable-input">
{% for member in site.categories.people %}
  <li><a data-icon="arrow-r" data-iconpos="right" data-transition="slide" href="{{ member.url }}" id="list-{{ member.pageid }}">{% if member.emailhash %}<img class="ui-li-icon" src="http://www.gravatar.com/avatar/{{ member.emailhash }}?s=32&d=retro"/>{% endif %}<span class="favstar" id="star-{{member.pageid}}"></span>{{ member.title }}<span class="ui-li-count">{{ member.pageid }}</span></a></li>
{% endfor %}
</ul>
{% include favorite-list.html storage="favpeople" pageid="people" %}
