<div data-role="fieldcontain">
<label for="fav-{{include.pageid}}">お気に入り</label>
<input type="checkbox" data-role="flipswitch" class="pagefav" id="fav-{{ include.pageid }}" />
</div>
<script>
$("#{{include.pageid}}").on("pagecreate", function() {
  var i = this.id
  if (window.localStorage && window.localStorage.getItem("{{include.storage}}")) {
    var favj = JSON.parse(window.localStorage.getItem("{{include.storage}}"));
    if (favj[i]) {
      $("#fav-" + i).attr("checked", true);
      $("#fav-" + i).flipswitch("refresh");
    }
  }
});

$(".pagefav").on("change", function() {
  var i = this.id.slice(4);
  if (this.checked) {
    // add to favorite
    var favj = {};
    if (window.localStorage && window.localStorage.getItem("{{include.storage}}")) {
      favj = JSON.parse(window.localStorage.getItem("{{include.storage}}"));
    }
    favj[i] = new Date();
    window.localStorage.setItem("{{include.storage}}", JSON.stringify(favj));
    $("#star-" + i).html("{{site.favorite.star}}");
//    if ($.mobile.confcalendarupdate) {$.mobile.confcalendarupdate();}
  } else {
    // remove from favorite
    var favj = JSON.parse(window.localStorage.getItem("{{include.storage}}"));
    delete favj[i];
    window.localStorage.setItem("{{include.storage}}", JSON.stringify(favj));
    $("#star-" + i).html("");
//    if ($.mobile.confcalendarupdate) {$.mobile.confcalendarupdate();}
  }
});
</script>
