---
layout: page
title: Access
---
<ul data-role="listview">
{% for access in site.data.access %}
<li>
{% if access.type == 'map' %}
<a href="http://maps.google.com/maps?q={{ access.query }}" class="maplink" data-role="button" data-icon="location" data-iconpos="left">{{ access.title }}</a>
{% elsif access.type == 'direction' %}
<a href="http://maps.google.com/maps?daddr={{ access.dest }}" class="maplink" data-role="button" data-icon="navigation" data-iconpos="left">{{ access.title }}</a>
{% elsif access.type == 'url' %}
<a href="{{ access.url }}">{{ access.title }}</a>
{% endif %}
</li>
{% endfor %}
</ul>
<script>
if ((navigator.userAgent.indexOf('iPhone')) > 0) {
  $(".maplink a").each(function() {
    var u = $(this).attr('href').replace(/google/g, 'apple');
    $(this).attr('href',u);
  });
};
</script>
