---
layout: default
title: Program
id: program
---
<div data-role="navbar" id="program_day">
<ul>
{% for date in site.data.days %}
<li><a href="#" id="{{ date.id }}">{{ date.title }}</a></li>
{% endfor %}
</ul>
</div>
<div id="calendar"></div>
<script>
{% for date in site.data.days %}
{% if forloop.first %}
{% assign first_date = date %}
{% endif %}
$("#{{ date.id }}").on('click',function() {
  $("#calendar").fullCalendar('gotoDate',{{ date.year }},{{ date.month | minus: 1 }},{{ date.day }});
});
{% endfor %}
</script>
<script>
$(document).ready(function() {
  $("#calendar").fullCalendar({
    events:
{% include events.json %},
    defaultView: "agendaDay",
    allDayDefault: false,
    year: {{ first_date.year }},
    month: {{ first_date.month | minus: 1 }},
    date: {{ first_date.day }},
    minTime: "7:00",
    height: 1024,
    eventClick: function(event) {
      window.location="/session/#" + event.id;
    }
  });
  // for ajax-loading of jquery mobile
  $("#program").bind('pageshow', function(e) {
    $("#calendar").fullCalendar('render');
  });
  $("#program").on("swipeleft", function(event) {
    $("#calendar").fullCalendar('next');
  });
  $("#program").on("swiperight", function(event) {
    $("#calendar").fullCalendar('prev');
  });
});
</script>
