---
layout: page
title: Program
id: program
---
<div data-role="navbar" id="program_day">
<ul>
{% for date in site.data.days %}
<li><a href="#" id="{{ date.id }}">{{ date.title }}</a></li>
{% endfor %}
</ul>
</div>
<div data-ajax="false" id="calendar"></div>
<script>
{% for date in site.data.days %}
{% if forloop.first %}
{% assign first_date = date %}
{% endif %}
$(document).on('click', "#{{ date.id }}", function() {
  $("#calendar").fullCalendar('gotoDate',{{ date.year }},{{ date.month | minus: 1 }},{{ date.day }});
});
{% endfor %}

$(document).on('pagecontainershow', ":mobile-pagecontainer", function() {
  $("#calendar").empty();
  $("#calendar").fullCalendar({
    events: {% include events.json %},
    defaultView: "agendaDay",
    allDayDefault: false,
    year: {{ first_date.year }},
    month: {{ first_date.month | minus: 1 }},
    date: {{ first_date.day }},
    minTime: "7:00",
    height: 1024,
    eventClick: function(event) {
      var path = event.id;
      console.log(path);
      $.mobile.navigate(path);
}
  });
});
$(document).on('pagecreate', "#program", function() {
  $("#program").off("swipeleft");
  $("#program").on("swipeleft", function(event) {
    $("#calendar").fullCalendar('next');
  });
  $("#program").off("swiperight");
  $("#program").on("swiperight", function(event) {
    $("#calendar").fullCalendar('prev');
  });
});
</script>
