<!DOCTYPE html>
<html manifest="/pagelist.appcache">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} - {{ site.name }}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link href="//code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css" rel="stylesheet">
      <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
      <script>
//        $(document).on("mobileinit", function(){
//          $.mobile.ajaxEnabled=false;
//        });
      </script>
      <script src="//code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"></script>
    </head>
    <body>
      {{ content }}
    </body>
</html>
