---
layout: default
---
<div data-role="page" id="{% if page.pageid %}{{page.pageid}}{% else %}{{page.id}}{% endif %}">
  <div data-role="header">
    <a data-rel="back" data-icon="back" class="ui-btn-left">Back</a>
    <h1> {{page.title}} </h1>
    <a href="#option" data-icon="gear" class="ui-btn-right">Option</a>
    {% include navbar.html %}
  </div> <!-- header -->
  {{ content }}
  <div data-role="footer">
    <div class="contact">
      &copy; <a href="mailto:{{ site.author.email }}" data-icon="mail">
      {{ site.author.name }}</a>
    </div>
  </div> <!-- footer -->
  <div data-role="panel" data-position="right" data-display="overlay" id="option">
   <div class="panel-content">
   <h3>Option</h3>
   <ul data-role="listview">
    <li><a id="buttonqrcode-{{page.pageid}}" data-rel="popup">QRコード表示</a></li>
   </ul>
   <a data-rel="close" data-role="button" data-icon="delete">Close</a>
   </div>
  </div>
<div data-role="popup" id="popupqrcode-{{page.pageid}}" data-position-to="window">
<div id="qrcodeimg-{{page.pageid}}"></div>
<a href="#" data-rel="back" data-role="button">Close</a>
</div>
<script>
  $("#buttonqrcode-{{page.pageid}}").on("click", function() {
    $("#qrcodeimg-{{page.pageid}}").html("");
    $("#qrcodeimg-{{page.pageid}}").qrcode($.mobile.path.getLocation());
    $("#popupqrcode-{{page.pageid}}").popup("open");
  });
</script>
</div> <!-- page -->
