---
layout: page
---
  <p class="meta">ID: {{ page.pageid }}</p>
<a data-role="button" class="pagefav" id="fav-{{ page.pageid }}">{{site.favorite.addmessage}}</a>
{% if page.org %}
  <p>所属: {{ page.org }}</p>
{% endif %}
{% if page.group %}
  <p>研究会: {{ page.group }}</p>
{% endif %}
<p>  {{ content }} </p>
{% if page.session %}
<h3>関連セッション</h3>
<div data-role="collapsible">
{% for s in page.session %}
<h3>{{ s.sessiontitle }} : {{ s.role }}</h3>
{% if s.papertitle %}
<p>論文タイトル：{{ s.papertitle }}</p>
{% endif %}
<a data-role="button" data-icon="arrow-r" data-iconpos="right" href="{{ s.url }}">{{s.sessiontitle}}: セッション詳細</a>
{% endfor %}
</div>
{% endif %}
<script>
$("#{{page.pageid}}").on("pagecreate", function() {
  var i = this.id
  if (window.localStorage && window.localStorage.getItem("favpeople")) {
    var favj = JSON.parse(window.localStorage.getItem("favpeople"));
    if (favj[i]) {
      $("#fav-" + i).html("{{site.favorite.removemessage}}");
    }
  }
});

$(".pagefav").on("click", function() {
  var str = $(this).text();
  var i = this.id.slice(4);
  if (str.indexOf("★") >= 0) {
    // remove from favorite
    var favj = JSON.parse(window.localStorage.getItem("favpeople"));
    delete favj[i];
    window.localStorage.setItem("favpeople", JSON.stringify(favj));
    $("#fav-" + i).html("{{site.favorite.addmessage}}");
    $("#star-" + i).html("");
  } else {
    // add to favorite
    var favj = {};
    if (window.localStorage && window.localStorage.getItem("favpeople")) {
      favj = JSON.parse(window.localStorage.getItem("favpeople"));
    }
    favj[i] = new Date();
    window.localStorage.setItem("favpeople", JSON.stringify(favj));
    $("#fav-" + i).html("{{site.favorite.removemessage}}");
    $("#star-" + i).html("{{site.favorite.star}}");
  }
});
</script>
