---
layout: page
---
{% if page.emailhash %}
<a href="http://gravatar.com/{{page.emailhash}}"><img src="http://www.gravatar.com/avatar/{{ page.emailhash }}?s=40&d=retro" /></a>
{% endif %}
<font size="large">{{ page.title }}</font>
<small>{{ page.yomi }} ID: {{ page.pageid }}</small>
{% include favorite-button.html storage='favpeople' pageid=page.pageid %}

{% if page.org %}
  <p>所属: {{ page.org }}</p>
{% endif %}
{% if page.group %}
  <p>研究会: {{ page.group }}</p>
{% endif %}
<p>  {{ content }} </p>
{% if page.session %}
<h3>関連セッション</h3>
{% for session in page.session %}
<div data-role="collapsible">
{% if session.psid %}
<h3>{{session.role}} : {{ session.psid }} : {{ session.title }}</h3>
<p>{{ session.psid }} : {{ session.title }}</p>
{% else %}
<h3>{{session.role}} : {{ session.sessiontitle }}</h3>
{% endif %}
<a data-role="button" data-icon="arrow-r" data-iconpos="right" href="/session/session-{{ session.sessionid }}/">{{session.sessiontitle}}: 詳細</a>
</div>
{% endfor %}
{% endif %}
