---
layout: page
---
<h3>部屋：{{page.title}}</h3>

{{content}}

<div data-role="navbar" id="zoombar">
<ul>
<li><a href="#" id="zoomin-{{page.pageid}}">拡大</a></li>
<li><a href="#" id="zoomout-{{page.pageid}}">縮小</a></li>
</ul>
</div>

<img src="{{site.roommap.imageurl}}" id="panview-{{page.pageid}}" width="{{site.roommap.width}}" height="{{site.roommap.height}}"/>

<script type="text/javascript">
$("#{{page.pageid}}").on("pagecreate", function() {
  var pagewidth = $("#{{page.pageid}}").width();
  $("#panview-{{page.pageid}}").touchPanView({width: pagewidth, height: 400,
    pins: [{x: {{page.x}}*100/{{site.roommap.width}}, y: {{page.y}}*100/{{site.roommap.height}}, point: 'center', title: "{{page.title}}"}],
    pinDefaults: {},
    startZoomedOut: true,
    easing: false,
    zoomFull: "#zoomin-{{page.pageid}}",
    zoomFit: "#zoomout-{{page.pageid}}"
  });
});
</script>
