---
layout: event
---
{% if page.chair %}
<ul data-role="listview"><li>
{% if page.chairpid %}<a href="/people/{{page.chairpid}}/">
<span class="favstar" id="star-{{page.chairpid}}"></span>
{% endif %}
座長: {{page.chair}}
{% if page.chairpid %}</a>{% endif %}
</li></ul>
{% endif %}
{% for paper in page.paper %}
<div data-role="collapsible">
<h3>{% for author in paper.author %}
{% if author.pid %}<span class="favstar" id="star-{{author.pid}}"></span>
{% endif %}{% endfor %}
{{paper.psid}}: {{paper.title}}</h3>
<p>{{paper.title}}</p>
<blockquote>
{% if paper.abstract %}{{paper.abstract}}
{% else %}アブストラクト非公開
{% endif %}
</blockquote>
<ul data-role="listview">
{% for author in paper.author %}<li>
{% if author.pid %}<a href="/people/{{author.pid}}/">
<span class="favstar" id="star-{{author.pid}}"></span>
{% endif %}
{% if author.presenter %}発表者:{% endif %}
{{author.name}} ({{author.org}})
{% if author.pid %}</a>{% endif %}
</li>{% endfor %}
</ul>
</div>
{% endfor %}

{% include favorite-list.html storage="favpeople" pageid=page.pageid %}
